.about__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
}

.about__app--title {
  font-weight: 600;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 59px;
}

.about__app--container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 150px;
  padding: 78px 82px 52px 254px;
}

.about__app--container:nth-child(odd){
  flex-direction: row-reverse;
  padding-bottom: 130px;
}

.about__app--wrapper{
  min-width: 568px;
}

.about__app--wrapper h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--color-active);
  margin-bottom: 17px;
}

.about__app--wrapper h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  margin-bottom: 27px;
}

.about__app--wrapper p{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  color: var(--color-paragraf);
}