header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 28px 0;
}

.menu {
  padding: 0;
  display: flex;
  gap: 114px;
}

.menu li a {
  font-weight: 600;
}

.active {
  color: var(--color-active);
}
