header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 50px 27px 70px;
}

.menu {
  padding: 0;
  display: flex;
  gap: 114px;
}

.menu li a {
  font-weight: 600;
}

.active {
  color: var(--color-active);
}
